// Colors
$color-gray: #848182
$color-black: #231F20
$color-mint-green: #8FFFA9
$color-tangerine: #FE5D32 // TODO: color has a low contrast value with white use another one that pass contrast test
$color-sunshine-yellow: #FFF461
$color-light-sunshine-yellow: #FFE499
$color-soft-beige: #EFDCD7
$color-light-beige: #F3EBE9
$color-white: #FFF

// TODO: change status colors to suitable ones
$color-danger: #FE5D32
$color-error: #FE5D32
$color-success: #8FFFA9
$color-success-dark: #117228
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
$main-font: "Poppins", sans-serif

// Font Sizes
$font-size-small: 12px
$font-size-medium: 14px
$font-size-large: 20px