.not-found, .coming-soon
  text-align: center
  padding: 2rem
  display: flex
  flex-direction: column
  align-items: center
  height: 100%

  img
    max-width: 500px

  h1, h2
    font-size: 2rem
    color: $color-tangerine
  p
    font-size: 1.5rem
    padding-bottom: 2rem

  .coming-soon-img
    width: 100%
    max-width: 500px
    height: 400px
    background-position: center
    background-repeat: no-repeat
    background-size: contain 

// .coming-soon
//   justify-content: flex-start
