.add-classroom-form
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(0, 0, 0, 0.5)
  display: flex
  justify-content: center
  align-items: center
  z-index: 98

  .form-container
    background: $color-white
    border-radius: .7rem
    padding: 2rem
    max-width: 500px
    width: 100%
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
    margin: 2rem

    h2
      margin-bottom: 1rem

    form
      display: flex
      flex-direction: column

      label
        margin-bottom: 1rem

        input, textarea
          width: 100%
          padding: 0.5rem
          border: 1px solid $color-gray
          border-radius: 4px
          margin-top: .5rem

        textarea
          height: 100px
          resize: vertical

        .public-input
          width: 30px
          margin-right: .5rem
          margin-top: 0

      button
        background-color: $color-mint-green
        border: 1px solid $color-black
        padding: 0.8rem 0.5rem
        border-radius: .3rem
        margin-top: 1rem
        margin-bottom: 1rem

    .close-button
      margin-bottom: 1rem
      &:hover
        color: $color-tangerine
    
    .char-count
      text-align: right
      font-size: .9rem
      padding-top: .9rem
      color: $color-gray