.test-card
  position: relative
  background: $color-light-beige
  gap: 1rem
  display: flex
  flex-direction: column
  width: 155px
  height: 180px
  border-radius: .7rem
  border: 2px solid $color-soft-beige
  cursor: pointer
  transition: all ease .3s
  padding: 1rem
  &:hover
    filter: brightness(95%) saturate(170%) 
    &::after
      width: 100px
      text-align: center
      border-radius: .3rem
      background: $color-soft-beige
      padding: .5rem .5rem
      // content: 'Take Test'
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
  &:active
    transform: scale(0.9)

  &:hover
    &.owner::after
      content: 'View Test'

    &.not-owner::after
      content: 'Take Test'

  h3
    font-size: 1.1rem

  p
    font-size: .8rem
    overflow: hidden
    max-height: 200px
    display: -webkit-box
    -webkit-line-clamp: 4
    -webkit-box-orient: vertical